<div class="page-container">
  <header class="page-header">
    <a routerLink="/books" class="back-link"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
        />
      </svg>
      Back to All Books
    </a>

    <h1 *ngIf="isEditMode(); else addTitle">Edit Book</h1>
    <ng-template #addTitle>
      <h1>Add New Book</h1>
    </ng-template>

    <p *ngIf="isEditMode(); else addSubtitle">
      Update the details for "{{ editingBook()?.title }}"
    </p>
    <ng-template #addSubtitle>
      <p>Add a new book to your library.</p>
    </ng-template>
  </header>

  <div class="form-container">
    <form [formGroup]="bookForm" (ngSubmit)="saveBook()">
      <div class="form-body">
        <div class="form-left">
          <div class="form-group">
            <label class="form-label">Collection</label>
            <select formControlName="collectionId" class="form-input form-select">
              <option [ngValue]="null" disabled>Select a collection</option>

              <option
                *ngFor="let col of collections(); trackBy: trackByCollectionId"
                [ngValue]="col.id"
              >
                {{ col.name }}
              </option>
            </select>

            <p
              class="error-message"
              *ngIf="
                bookForm.controls.collectionId.invalid && bookForm.controls.collectionId.touched
              "
            >
              Please select a collection
            </p>
          </div>

          <div class="form-group">
            <label class="form-label">Title</label>
            <input
              formControlName="title"
              type="text"
              class="form-input"
              placeholder="Enter book title"
            />
          </div>

          <div class="form-group">
            <label class="form-label">Author</label>
            <input formControlName="author" type="text" class="form-input" />
          </div>

          <div class="form-group">
            <label class="form-label">Rating</label>
            <select formControlName="rating" class="form-input form-select">
              <option [ngValue]="5">5 (Excellent)</option>
              <option [ngValue]="4">4 (Great)</option>
              <option [ngValue]="3">3 (Good)</option>
              <option [ngValue]="2">2 (Fair)</option>
              <option [ngValue]="1">1 (Poor)</option>
            </select>
          </div>
        </div>

        <div class="form-right">
          <label class="form-label">Description</label>
          <textarea formControlName="description" class="form-input form-textarea"></textarea>
        </div>
      </div>

      <div class="form-footer">
        <a routerLink="/books" class="button button-secondary">Cancel</a>

        <button
          type="submit"
          [disabled]="bookForm.invalid"
          class="button button-primary"
          *ngIf="isEditMode(); else saveLabel"
        >
          Update Book
        </button>
        <ng-template #saveLabel>
          <button type="submit" [disabled]="bookForm.invalid" class="button button-primary">
            Save Book
          </button>
        </ng-template>
      </div>
    </form>
  </div>
</div>
